@model KurumsalWeb.Models.Model.Slider

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script>
    window.onload = function () {
        CKEDITOR.replace('editör');
    };
</script>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>SLİDER</h1>

        <nav>

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Slider</a></li>
                <li class="breadcrumb-item active">Yeni Ekle</li>

            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            @using (Html.BeginForm("Create", "Slider", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Baslik, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Baslik, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Baslik, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Aciklama, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <textarea class="form-control" required id="editör" name="Aciklama"></textarea>
                            @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ResimURL, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="ResimURL" class="form-control" accept=".png,.jpg,.jpeg" required  placeholder="Resim Seçiniz" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Ekle" class="btn btn-outline-primary" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Geri Dön", "Index")
            </div>
        </div>
    </section>

</main>